# Python cache.
__pycache__

# Do not store the local file interpretation binaries...
db/

# ... but ensure the default directory is present using a keep file.
!db/.gitkeep

# Ignore all local data that is potentially sensitive...
data/**/*

# ... but ensure the default directory is present using a keep file.
!data/.gitkeep

# Ignore all local logs that are potentially sensitive...
logs/**/*

# ... but ensure the default directory is present using a keep file.
!logs/.gitkeep

# Ignore specific envionment setting overrides.
.env
