# Do not store the huge LLM binaries!
bin/

# ... but keep the directory around with a keep file.
!bin/.gitkeep

# Ignore all local data that is potentially sensitive...
data/**/*

# .. but keep the directory around with a keep file.
!data/.gitkeep

# Ignore all local logs that are potentially sensitive...
logs/**/*

# .. but keep the directory around with a keep file.
!logs/.gitkeep

# Ignore specific envionment setting overrides.
.env
