black
ctransformers
emoji
faiss-cpu
halo
humanize
langchain
langchain-community
opencv-python
openpyxl
pdf2image
pikepdf
pillow_heif
pre-commit
pydantic-settings
pypdf
python-docx
sentence_transformers
unstructured
unstructured_inference
